/* body{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorBtn
{
    padding: 0.25rem 0.5rem;
    border: 3px solid black;
    border-radius: 7px;
    color: #000000;
    background: rgba(20, 0, 10, 0.6);
    font-size: 15px;
    cursor: pointer;
    outline: none;
}
.colorBtn:hover
{
    background-color: seashell;
} */
body
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container
{
    text-align: center;
}
.hexcolor
{
    text-transform: capitalize;
}
.hex
{
    font-size: 17px;
}
.hexbtn
{
    color: #000000;
    border: 2px solid;
    border-radius: 8px;
    background: wheat;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
}
.hexbtn:hover
{
    background-color: #d8bfd8;
}