body{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorBtn
{
    padding: 0.25rem 0.5rem;
    border: 3px solid black;
    border-radius: 7px;
    color: #000000;
    background: rgba(20, 0, 10, 0.6);
    font-size: 15px;
    cursor: pointer;
    outline: none;
}
.colorBtn:hover
{
    background-color: seashell;
}